.header{
    // width: 100%;
    display: block;
}

.navbar-brand{
    font-weight: bold;
    
}

.appMenuButton{
    font-size: 20px;
    margin: 10px;
    margin-bottom: 11px;
}
.appMenu{
    margin: 0;
    background-color: #19bb9c;
}
