$baseColor: #000;
$light-blue: #f9f8fe;
// $baseColor: #163d77;
$white: #ffffff;
$base-grey: #e6e6e6;
$green: #19bb9b;
$grey : #424242;
$dark-grey: #424242;
$darker-grey: #676767;
$baseColor-grey: #70859E;
$black: #000;
$yellow: #eeac11;
$blue-grey: #99a6ab;
$green: #1abb9c;
$light-grey: #E9ECEF;
