@import '../AppVariables.scss';

#photoBox{
    background: $light-grey;
    height: 500px;
    background-image: url(../../assets/images/camera-icon.png);
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
    overflow-y: scroll;
    padding: 1em;
}

